
@import "compass/utilities/sprites";


/*
 Subfolders witch sprites is easy:
 ---------------------------------
*/

$frontend-layout:smart;

/* Include the dimensions of each sprite
	$(spritename)-sprite-dimensions: true;
*/
$frontend-sprite-dimensions: true; 

@import "tec/backend/*.png";
@import "tec/frontend/*.png";
@import "tec/enviorment/*.png";
@import "tec/languages/*.png";


/* 
	To include sprites use 
	----------------------
	@include: all-(the-name-of-the-sprite-here)-sprites;
*/

@include all-backend-sprites;
@include all-frontend-sprites;
@include all-enviorment-sprites;


/*
 	To include only part of sprites
*/

.languages-I-know {

	.java-script 	{ @include languages-sprite(Javascript); }
	.c-sharp 		{ @include languages-sprite(csharp); }
}


/* To use icon siszes u can do like this */

$width: languages-sprite-width(Javascript);

.some-class {

	height: languages-sprite-height(Javascript);
	width: $width;
}